body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

section#servicios {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}

.servicio {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

h3 {
    font-size: 24px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.imagen-servicio {
    width: 100%; /* Que ocupe todo el ancho disponible */
    height: 200px; /* Altura fija para uniformidad */
    object-fit: cover; /* Ajusta la imagen para que no se deforme */
    border-radius: 0.5rem; /* Mantén bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}